.cart {
  margin-top: 100px;
  padding: 20px;
}

.card-items-title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: grey;
  font-size: max(1vw, 12px);
}

.cart-item-tile {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: black;
  margin: 10px 0;
}

.cart-item-tile img {
  width: 50px;
  height: auto;
}

.cart hr {
  height: 1px;
  background-color: #e2e2e2;
  border: none;
}
.Billing{
  position: relative;
  left: 30px;
  top: -5px;
  background-color: red;
  border-radius: 15px;
  width: 100px;
}
.cart-bottom{
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw,20px);
}
.cart-total{
flex:1 ;
display: flex;
flex-direction: column;
gap: 20px;
}
.cart-total-details{
  display: flex;
  justify-content: space-between;
  color: #e2e2e2;
  color: black;

}
.cart-total-details b{
  position: relative;
  left: 1px;
}
.cart-total hr{
  margin: 10px 0px;
}
.cart-total button{
  border: none;
  color: white;
  background-color: tomato;
  width: max(15vw,200px);
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
}
.cart-promocode{
  color: #555;
}
.cart-promocode-input{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 5px;
}
.cart-promocode-input input{
  background: transparent;

 
  padding-left: 10px;
  position: relative;
  top: -9.5px;
  border: 0.5 solid black;
  
}
.cart-promocode-input button{
  width: max(10vw,150px);
  padding: 12px 5px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 5px;
}